# ========================
# Next.js
# ========================
.next/
out/
build/
.vercel/

# ========================
# Node
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo

# ========================
# TypeScript
# ========================
next-env.d.ts

# ========================
# Testing
# ========================
coverage/
.nyc_output/

# ========================
# Misc
# ========================
.eslintcache
.stylelintcache